* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  border: none;
}

html { 
  font-size: 62.5%;
}

input, label {
  display: block;
  width: 100%;
}

input:focus, label:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  background-color: rgb(247,156,96);
}

.logotipo img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.mainForm {
  max-width: 845px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.mainForm h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 30px 0;
}

.box {
  padding: 0 5px;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  border-radius: 8px;
  background-color: #E8EBF0;
  padding: 10px;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

input:focus {
  background-color: #9B9EA3;
  transition: .2s all;
}

input:focus::placeholder {
  color: #fff;
}

input[type="submit"] {
  margin: 0 auto;
  max-width: 420px;
  background-color: rgb(119,182,216);
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px
}

.gender {
  display: flex;
}

.gender input, .gender label {
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.alert {
  display: none;
  min-width: 50px;
  padding: 20px 25px;
  position: fixed;
  right: 0;
  top: 220px;
  border-radius: 5px;
  border-left: 8px solid;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 30%;  
}

.sucess {
  background-color: #b2edc0;
  border-color: #79ce8d;
}

.sucessIcon {
  background: url('../img/success.svg') no-repeat 0 0;
  background-size: 20px 20px;
}

.error {
  background-color: #f8d7da;
  border-color: #f7717e;
}

.erroIcon {
  background: url('../img/error.svg') no-repeat 0 0;
  background-size: 20px 20px;
}

.msg {
  display: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.show {
  display: block;
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
}


/* Desktop */
@media (min-width: 780px) {

  .mainForm {
    padding: 20px;
  }

  .mainForm h2 {
    font-size: 2.6rem;
    margin: 40px 0;
  }

  .half {
    display: flex;
    align-items: baseline;
  }

  .half input {
    min-width: 35%;
  }

  .half label {
    width: 25%;
  }

  .half input[name="nome"], .half input[name="cpf"],
  .half input[name="endereco"], .half input[name="bairro"] {
    margin-right: 10px;
  }

  .alert {
    max-width: 420px;
    top: 50px;
    padding: 20px 40px;
  }

  .msg {
    display: block;
  }
}
